<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <link rel="stylesheet" href="../css/citadele-all.css" media="screen, projection">
    <link rel="shortcut icon" href="http://www.citadele.lv/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

    <script th:src="@{/main.js}"></script>
    <link th:href="@{/citadele-all.css}" rel="stylesheet"/>
    <title>Payment Form</title>
</head>
<body ng-app="EmailService" ng-controller="RestController">
<!-- Page header -->

<div id="container">
    <table>
        <tr>
            <td id="logo">
                <img ng-src="../img/citadele-logo.gif" alt="Citadele banka" widht="164 " height="100" class="padding-logo">
            </td>
            <td align="center" valign="middle"><br>
                <h1><b>MAKSĀJUMA UZDEVUMS</b></h1>
                <h3>Payment Order</h3>
                <h3>Платежное поручение</h3>
            </td>
        </tr>
    </table>
    <!-- Page header -->
    <!-- First Table -->
    <form ng-submit="sendEmail()">
        <table>
            <tr><br>
                <td align="left"><h6>AS „Citadele banka”, Reg . nr. 40103303559</h6></td>
                <td align="right">FKl. num. / Cust. num
                    <input required type="text" ng-model="paymentForm.customerNumber"/>
                </td>
            </tr>
            <tr>
                <td align="left">Republikas laukums 2A, Riga, LV-1010, Latvija</td>
                <td align="right">Datums / Date
                    <input required type="date" ng-model="paymentForm.currentDate"></td>
            </tr>
        </table>

        <!--  End of First Table -->
        <!-- Second Table -->
        <table id="tables">
            <tr class="table-head">
                <td colspan="3" valign="top" bgcolor="#fbfbfb"><b>Maksātājs/ Remitter / Плательщик</b><br>
                    <small>
                        Vards, uzvards / Uznemuma nosaukums<br>
                        <h6>Name, surname / Company name</h6>
                        Имя, Фамилия/ Название фирмы
                        <input required type="text" ng-model="paymentForm.remitter.name">
                    </small>
                </td>
            <tr>
                <td colspan="3" valign="top" bgcolor="#fbfbfb"><b>Maksātājs/ Remitter / Плательщик</b><br>
                    <small>
                        Personas kods / Reģistrācijas Nr.<br>
                        <h6>Personal ID number / Registration No</h6>
                        Персональный код / Регистрационный No
                        <input required type="text" ng-model="paymentForm.remitter.code">
                    </small>
                </td>
            </tr>
            <tr>
                <td colspan="3" valign="top" bgcolor="#fbfbfb"><b>Maksātājs/ Remitter / Плательщик</b><br>
                    <small>
                        Konta Nr.<br>
                        <h6>Name, surname / Company name</h6>
                        No счета
                        <input required type="text" ng-model="paymentForm.remitter.accountNumber">
                    </small>
                </td>
            </tr>
        </table>
        <!-- End of Second Table -->
        <!-- Third table -->
        <table id="tables">
            <tr class="table-head">
                <td colspan="3" valign="top" bgcolor="#fbfbfb"><b>Saņēmejs / Beneficiary / Получатель</b><br>
                    <small>
                        Vards, uzvards / Uznemuma nosaukums<br>
                        Name, surname / Company name<br>
                        Имя, Фамилия/ Название фирмы
                        <input required type="text" ng-model="paymentForm.beneficiary.name"/>
                <td colspan="3" valign="top" bgcolor="#fbfbfb">
                    </small>
                </td>
            </tr>
            <tr class="table-head">
                <td colspan="3" valign="top" bgcolor="#fbfbfb">
                    <small>
                        Personas kods / Reg. Nr.<br>
                        Personal ID number / Reg. No<br>
                        Перс. код / Регистрационный №
                        <input required type="text" ng-model="paymentForm.beneficiary.registrationNumber"/>
                <td colspan="3" valign="top" bgcolor="#fbfbfb">
                    </small>
                </td>
            </tr>
            <tr>
                <td colspan="3" valign="top" bgcolor="#fbfbfb">
                    <small>
                        Konta Nr.<br>
                        Account No<br>
                        № счета
                        <input required type="text" ng-model="paymentForm.beneficiary.accountNumber"/>
                    </small>
                </td>

                <td colspan="3" align="left" valign="top" bgcolor="#fbfbfb">
                    <small>
                        Rezidences valsts<br>
                        Residence country<br>
                        Страна резиденции
                        <input required type="text" ng-model="paymentForm.beneficiary.residenceCountry"/>
                    </small>
                </td>
            </tr>
            <tr>
                <td colspan="3" valign="top" bgcolor="#fbfbfb">
                    <small>
                        Saņēmējbanka<br>
                        Beneficiary bank<br>
                        Банк получателя <input required type="text" size="25"
                                               ng-model="paymentForm.beneficiary.bankName">
                    </small>
                </td>
                <td colspan="3" valign="top" bgcolor="#fbfbfb">
                    <small>
                        Bankas kods<br>
                        Bank code<br>
                        Банковский код
                        <input required type="text" size="25" ng-model="paymentForm.beneficiary.bankCode">
                    </small>
                </td>
            </tr>
        </table>
        <!--End of  Third table -->
        <table id="tables">
            <tr class="table-head">
                <td colspan="3" valign="top" bgcolor="#fbfbfb"><b>Maksājuma informācija / Payment information /
                    Информация о
                    платеже</b><br>
                    <small>
                        Summa cipariem un valuta<br>
                        Amount in figures and currency<br>
                        Сумма цифрами и валюта
                        <input required type="text" size="15" ng-model="paymentForm.paymentInformation.amountAndCurrency">
                    </small>
                </td>
                <td colspan="3" valign="top" bgcolor="#fbfbfb">
                    <small><br>
                        Bankas komisija<br>
                        Bank fee<br>
                        Коммимия банка
                        <input required type="text" size="15" ng-model="paymentForm.paymentInformation.bankFee"
                               align="left">
                    </small>
                </td>
            </tr>
            <tr>
                <td colspan="3" valign="top" bgcolor="#fbfbfb">
                    <small>
                        Summa vārdiem<br>
                        Amount in words<br>
                        Сумма прописью
                        <input required type="text" size="50" ng-model="paymentForm.paymentInformation.amountInWords"
                               value="">
                    </small>
                </td>
                <td colspan="3" align="left" valign="top" bgcolor="#fbfbfb">
                </td>
            </tr>
            <tr>
                <td colspan="3" valign="top" bgcolor="#fbfbfb">
                    <small>
                        Maksajuma veids<br>
                        Payment type<br>
                        Вид платежа
                        <input type="text" size="50" ng-model="paymentForm.paymentInformation.paymentType">
                    </small>
                </td>
                <td colspan="3" align="left" valign="top" bgcolor="#fbfbfb">
                    <small>
                        Maiņas kurss<br>
                        Exchange rate<br>
                        Обменный курс
                        <input type="text" size="25" ng-model="paymentForm.paymentInformation.exchangeRate">
                    </small>
                </td>
            </tr>
            <tr>
                <td colspan="3" valign="top" bgcolor="#fbfbfb">
                    <small>
                        Valutešanas datums<br>
                        Value date<br>
                        Дата валютирования
                        <input required type="date" size="15" ng-model="paymentForm.paymentInformation.valueDate">
                    </small>
                </td>
                <td colspan="3" align="left" valign="top" bgcolor="#fbfbfb">
                    <small>
                        Arējā maksājuma kods<br>
                        Code of external payment<br>
                        Код зарубежного платежа
                        <input required type="text" size="15"
                               ng-model="paymentForm.paymentInformation.codeOfExternalPayment">
                    </small>
                </td>
            </tr>
            <tr>
                <td colspan="3" valign="top" bgcolor="#fbfbfb">
                    <small>
                        Maksājuma mērķis<br>
                        Payment details<br>
                        Назначение платежа
                        <input type="text" size="100" ng-model="paymentForm.paymentInformation.paymentDetails">
                    </small>
                </td>
                <td colspan="3" align="left" valign="top" bgcolor="#fbfbfb">
                </td>
            </tr>
        </table>
        <table id="tables">
            <tr class="table-head">
                <td colspan="3" valign="top" bgcolor="#fbfbfb"><b>Paraksti / Signatures / Подписи</b><br>
                    <small>
                        Vards, uzvards / Uznemuma nosaukums<br>
                        Name, surname / Company name<br>
                        Имя, Фамилия/ Название фирмы
                <td colspan="3" valign="top" bgcolor="#fbfbfb">
                    </small>
                </td>
            </tr>
        </table>
        <br>
        <tr>
            <td align="center">
                <input type="submit" value="Submit"/>
    </form>
    </td>
    </tr>
</div>
<br>
</body>
</html>